#divTexto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: flex-start;
    
}

#inp{
    width: 70%;
    height: 20px;
    /* border-radius: 0; */
    border: solid 0;
    padding: 10px;
    font-size: 10px;
    box-shadow: 1px 3px 8px rgb(179, 179, 179);

}

#lbl{
    margin-bottom: 5px;
    font-size: 11px;
}