.divselect{
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;
    align-content: space-around;
    align-items: flex-start; */
    /* padding: 1rem; */
    border: 0;
    width: 95%;

    
}
.divselect select{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    /* border-radius: 0; */
    border: solid 0;
    width: 100%;
    padding: 1rem;
    font-size: 10px;
    box-shadow: 1px 3px 8px rgb(179, 179, 179);
    margin-left: auto;
    margin-right: auto; 
}

.divselect label{
    margin-bottom: 5px;
    font-size: 11px;
}

